$dark:#222;
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    .section {
        width: 100vw;
        height: 100vh;
        display: grid;
        text-align: justify;
        text-justify: newspaper;
        justify-content: center;
        padding: 25%;
        vertical-align: middle;
        color: cornsilk;
    }
    .section1 {
        background: burlywood;
    }
    .section2 {
        background: cornflowerblue;
    }
    .section3 {
        background: crimson;
    }
    .section4 {
        background: darkslateblue;
    }
    .dark {
        background: #555;
        color: whitesmoke;
    }
    .section p,
    .section h1 {
        opacity: 0;
    }
    .section:nth-child(odd).fx p,
    .section:nth-child(odd).fx h1 {
        animation: fadeleft 1s ease both;
    }
    .section:nth-child(even).fx p,
    .section:nth-child(even).fx h1 {
        animation: faderight 1s ease both;
    }
}

@keyframes fadeleft {
    from {
        transform: translate(-5em, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes faderight {
    from {
        transform: translate(5em, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}